
body {
   display: flex ;
   flex: 1;
   flex-direction: column;
   margin: 0px;
   gap: 12px;
   background-color: rgb(18, 17, 70);
}
body::-webkit-scrollbar { width: 0 !important }

/***      Header Section      ***/
.header {
   align-items: center;
   display: flex;
   justify-content: space-between;
   flex-basis: 50px;
   padding: 0px 70px;
   gap: 16px
}

.logo {
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 28px;
   letter-spacing: 2px;
   color: rgb(124, 192, 255);
   background-color: rgb(43, 67, 132);
   margin: 20px 0px;
   border: 12px double;
   border-radius: 12px;
   flex: 0 0 auto
}

.links {
   display: flex;
   gap: 24px;
}

a {
   text-decoration: none;
   color: rgb(124, 192, 255);
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 16px;
   letter-spacing: 2px;
   flex-shrink: 0;
}
/***     End Header Section      ***/

/***        Content Section       ***/

.content {
   display: flex;
   flex-direction: column;
   padding: 0px 70px;
   gap: 16px;
}

/***     End Content Section     ***/

/***       Signup Section        ***/

.signupSection {
   display: flex;
   flex-wrap: wrap;
   flex: 1;
   justify-content: space-evenly;
   align-content: center;
   gap: 20px;
   padding: 54px 12px;
   border-radius: 12px;
   background-color: rgb(23, 22, 77);
}

.info {
   color: aliceblue;
   display: flex;
   flex-direction: column;
   flex: 0 1 300px;
   justify-content: space-evenly;
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 18px;
   gap: 16px;
}

.infoText {
   margin-top: -24px;
}
/***       End Signup Section        ***/

/***        Images Section           ***/

.imageSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 12px 54px 48px;
   border-radius: 12px;
   background-color: rgb(23, 22, 77);
   color: rgb(137, 194, 244);
   font-family: Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 16px;
}

.images {
   display: flex;
   justify-content: space-around;
   gap: 24px;
   flex-wrap: wrap;
   justify-content: center;
}

.image {
   display: flex;
   flex-direction: column;
   flex-basis: 300px;
   gap: 16px;
   font-weight: 500;
}
/***      End Images Section      ***/

/***      Quote Section           ***/
.quoteContainer {
   display: flex;
   flex: 1;
   flex-direction: column;
   padding: 54px;
   border-radius: 12px;
   background-color: rgb(23, 22, 77);
   color: rgb(137, 194, 244);
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 32px;
}

.quote {
   max-width: 800px;
   align-self: center;
}
/***      End Quote Section      ***/

/**     Signup Bottom Section    ***/
.signup2 {
   display: flex;
   flex: 1 1 auto;
   justify-content: space-evenly;
   align-items: center;
   background-color:  rgb(23, 22, 77);
   padding: 54px;
   border-radius: 12px;
   color: rgb(137, 194, 244);
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 32px;
   gap: 16px;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0px;
   color: rgba(132, 102, 208, 0.506);
   font-family: Geneva, Tahoma, sans-serif;
}

img {
   max-width: 300px;
   border: 0px solid;
   border-radius: 12px;
}

button:hover {
   background-color: #341886;
}

button {
   flex-shrink: 0;
   padding: 12px;
   background-color: #4821be;
   border: solid 0px;
   border-radius: 12px;
   color: white;
   font-family: Arial, Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 14px;
   max-width: fit-content;
   max-height: fit-content;
}
